body{
    background-color: #0b0f19;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav{
    background-color: #05070d;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover{
    color: #00bfff;
}
h1{
    color: darkblue;
    text-align: center;
}
p{
    font-size: 18px;
    line-height: 1.6;
}
nav a:hover{
    color: yellow;
}

header{
    text-align: center;
    padding: 40px;
    background-color: lightgray;
}

section{
    padding: 40px;
    margin: 30px auto;
    width: 80%;
    background-color: #11182b;
    border-radius: 10px;
    color: white;
}

p{
    color: #d1d5db;
}

.projects-container{
display: flex;
justify-content: center;
gap: 30px;
flex-wrap: wrap;
padding: 30px;
}

.project-card{
background-color: rgb(71, 4, 4);
padding: 15px;
border-radius: 10px;
width: 250px;
text-align: center;
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.project-card img{
width: 100%;
border-radius: 8px;
}

.events-container{
display: flex;
justify-content: center;
gap: 30px;
flex-wrap: wrap;
padding: 30px;
}

.event-card{
background-color: rgb(71, 4, 4);
padding: 20px;
border-radius: 10px;
width: 250px;
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.contact-container{
background-color: rgb(71, 4, 4);
padding: 30px;
margin: 30px;
border-radius: 10px;
width: 60%;
margin-left: auto;
margin-right: auto;
box-shadow: 0 4px 8px rgba(8, 8, 8, 0.2);
}

input, textarea{
width: 100%;
padding: 8px;
margin-top: 5px;
}

button{
background-color: navy;
color: white;
padding: 10px 15px;
border: none;
cursor: pointer;
}

button:hover{
background-color: darkblue;
}

.hero{
    height: 400px;
    background-image: url("images/space.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1{
    font-size: 40px;
}

.hero p{
    font-size: 20px;
}

.hero-button{
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #0077ff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.hero-button:hover{
    background-color: #00bfff;
}
